@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: anzo1;
  src: url(./assets/Fonts/file1.woff2);
}
@font-face {
  font-family: anzo2;
  src: url(./assets/Fonts/file2.woff2);
}
@font-face {
  font-family: anzo3;
  src: url(./assets/Fonts/file3.woff2);
}
@font-face {
  font-family: anzo4;
  src: url(./assets/Fonts/file4.woff2);
}
@font-face {
  font-family: anzo5;
  src: url(./assets/Fonts/file5.woff2);
}
@font-face {
  font-family: anzo6;
  src: url(./assets/Fonts/madefor-text.var.original.woff2);
}

* {
  color: #fff;
}

#page1-in{
  position: relative;
  perspective: 1000px;
}
#tiltDiv{
  width: fit-content;
}

#section2, #section3{
  position: relative;
  perspective: 2000px;
}
.rotateText{
  transform-origin: 100% 80%;
}